<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Opencart Automation suite"  parallel="false" thread-count="2">

    <listeners>
        <listener
                class-name="com.qa.opencart.main.ExtentReporter.ExtentReportListener" />
    </listeners>

    <test name="PlayWright Sessions">
        <classes>
            <class name="com.qa.opencart.test.tests.verifyHomePageTest" />
            <class name="com.qa.opencart.test.tests.verifyLoginPageTest" />
        </classes>
    </test>

</suite>